{% extends "leaveSystem/layout.html" %}

{% block body %}

<div class="box backdrop text-dark mx-auto">
    <div class="myform">
        <h2>Log In</h2>
        <div id="credentials">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger pl-1 text-center p-0" role="alert">
                    <h3>{{message}}</h3>
                </div>
                {% endfor %}
            {% endif %}
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required autofocus autocomplete="off">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                </div>
        </div>
        <input class="text-center btn btn-primary" type="submit" value="LOG IN">
        </form>
    </div>
</div>

{% endblock %}